.slider-background{
    background-color: #fceae8;
}
.category img{
    width: 100px;
}
.buy-button{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}